<!-- <div
  class="toast toast-top toast-end z-[999999999999999999999999999999999999999999999999999]"
>
  <div class="bg-white shadow-xl shadow-gray-300 rounded-3xl" role="alert">
    <div class="flex p-4">
      <div
        class="flex items-center justify-center px-3 text-white bg-green-500 rounded-full w-fit"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-check"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M5 12l5 5l10 -10" />
        </svg>
      </div>
      <div class="pl-2 text-gray-600">
        <p class="font-bold">Success!</p>
        <p>
          Calling Jack Dozer ·
          <span class="text-gray-500">9:32 pm - 5/6/2018</span>
        </p>
      </div>
    </div>
  </div>
</div> -->
<div class="flex flex-col items-center justify-center w-screen h-screen">
  <h1 class="text-3xl">Welcome to</h1>
  <h1 class="text-3xl">Lazuardi's Starter Template Angular 🚀</h1>
</div>
